.footer {
    background: var(--green);
    padding: 70px 0 80px;
    &__logo {
        width: 75px;
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    h6 {
        font-weight: 700;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    ul {
        list-style: none;
        padding-left: 0;
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
        li {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 30px;
        }
    }
    &__social {
        color: var(--burgundy);
        margin-right: 30px;
        @media (max-width: 1199px) {
            margin-right: 15px;
        }
    }
}