
@font-face {
  font-family: TT-Norms;
  font-weight: 200;
  src: url("../public/fonts/TT-Norms/TTNorms-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: TT-Norms;
  font-weight: 300;
  src: url("../public/fonts/TT-Norms/TTNorms-Light.otf") format("opentype");
}


@font-face {
  font-family: TT-Norms;
  font-weight: 400;
  src: url("../public/fonts/TT-Norms/TTNorms-Regular.otf") format("opentype");
}


@font-face {
  font-family: TT-Norms;
  font-weight: 500;
  src: url("../public/fonts/TT-Norms/TTNorms-Medium.otf") format("opentype");
}

@font-face {
  font-family: TT-Norms;
  font-weight: 700;
  src: url("../public/fonts/TT-Norms/TTNorms-Bold.otf") format("opentype");
}

@font-face {
  font-family: TT-Norms;
  font-weight: 800;
  src: url("../public/fonts/TT-Norms/TTNorms-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: TT-Norms;
  font-weight: 900;
  src: url("../public/fonts/TT-Norms/TTNorms-Black.otf") format("opentype");
}

:root {
  --black: #000000;
  --dark: #0B3B3C;
  --burgundy: #7E0707;
  --white: #FFFFFF;
  --grey: #6D8A83;
  --light-grey: #F3F7F4;
  --green: #E9EFE9;
  --blue: #30d9ff;
}

html,
body {
  font-family: 'TT-Norms', 'Helvetica', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: var(--dark);
  letter-spacing: -0.03em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 90px;
  line-height: 90px;
  margin-bottom: 20px;
}

h2 {
  font-size: 40px;
  line-height: 60px;
}

h3 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 22px;
}

p {
  font-size: 18px;
  line-height: 30px;
}