.hero {
  background-image: url('../public/images/layout/BG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.button {
  background: var(--burgundy);
  color: var(--white);
  text-transform: uppercase;
  padding: 15px 30px;
  display: inline-block;
  margin-top: 36px;

  &:hover,
  &:focus,
  &:active {
    color: var(--white)
  }
}

.main {
  padding: 70px 0 0;
  margin-bottom: -20px;

  &__title {
    display: flex;
    justify-content: center;
  }
}
